.btnFavoriteHome {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: red;
  cursor: pointer;
  margin-top: 45vh;
  margin-left: -20vw;
  z-index: 1;
  position: relative;
}


/* .containerFavList{
    position: absolute;
    z-index: 1;
} */

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: "Alfa Slab One", cursive;
  font-weight: bold;
color: #f37335;
letter-spacing: 0.2rem;
}

.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-column-gap: 10px;
    grid-row-gap: 100px;
    box-sizing: content-box;
    margin: 20px;
}

.fav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  box-sizing: content-box;

    
}


.imgfav{
    width: 30vw;
  height: 60vh;
  overflow: hidden;
border-radius: 20px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.imgfav:hover{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.nameFav{
  display: flex;
  align-items: center;
  justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(247, 239, 239);
 width: 30vw;
 margin-top: 50vh;
 background-color: #eb6320a2;
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
   
  
    position: absolute;
    z-index: 1;
}

.iconHeart{
  color: rgb(236, 233, 230);
  
  margin-left: 2vw;
}

.btn{
    z-index: 1;
    position: absolute;
    margin-top: 3vh;
    margin-left: 26vw;
    font-size: 20px;
    background-color: rgb(240, 237, 234);
    border-radius: 10px;
    padding: 5px;
    border: none;
    color: #eb6320a2;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(235, 26, 26);
    color: rgb(252, 252, 252);
    transform: scaleY(1.1);
}




.favNotFound{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100vw;
   
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  
  
 
}

@media screen and (max-width: 480px) {
  .box{

    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .imgfav{
    width: 90vw;
    height: 30vh;
  }
  .nameFav{
  width: 90vw;
 font-size: 20px;
 margin-top: 23vh;
  
  }
  .btn{
    margin-left: 75vw;
    margin-top: 2vh;
  }

  .favNotFound{
    font-size: 20px;
  }
}