.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container input {
  font-size: 15px;
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border-radius: 25px 0 0 25px;
  background-color: transparent;
  border: 2px solid #ffd819;
  color: orange;
}
.input:hover {
  background-color: #ffa600d3;
  color: #fff;
  border: 2px solid #ffd819;
}

.input [placeholder="Name ..."]{
  color:orange
}
.search {
  border: 2px solid #ffd819;
  cursor: pointer;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 55px;
  height: 35px;
  background-color: #ffa500;
  color: #fff;
}
.container .search:hover {
  background-color: #ffa600d3;
  color: #fff;
}

.refresh {
  width: 100px;
  height: 30px;
  color: #fff;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ffd819;
  background: transparent;
}
.refresh:hover {
  background-color: #ffa600d3;
  color: #fff;
}
